<mat-toolbar color="primary" class="sticky-top">
  <img class="h-75" routerLink="/" src="assets/Zonal_logo.svg" alt="">
  <button (click)="toggle()" matTooltip="Shift Pages Easily" *ngIf="authorize.isLoggedIn" mat-icon-button
          [matMenuTriggerFor]="pages">
    <mat-icon *ngIf="closed">unfold_more</mat-icon>
    <mat-icon *ngIf="!closed">unfold_less</mat-icon>
  </button>
  <mat-menu #pages="matMenu">
    <button routerLink="/home" mat-menu-item>
      <i class="fa fa-rss"></i>
      Posts Zone
    </button>
    <button routerLink="/events" mat-menu-item>
      <i class="fa fa-calendar"></i>
      Event Zone
    </button>
    <button routerLink="/quiz" mat-menu-item>
      <i class="fa fa-users"></i>
      Quiz Zone
    </button>
    <button routerLink="/resources" mat-menu-item>
      <i class="fa fa-archive"></i>
      Status Zone
    </button>
  </mat-menu>
  <span class="flex-fill"></span>
  <button *ngIf="!authorize.isLoggedIn" mat-button color="accent" routerLink="/login">Login</button>
  <button *ngIf="authorize.isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['profile',authorize.getUID()]" mat-menu-item>
      <mat-icon>face</mat-icon>
      <span>My Profile</span>
    </button>
    <button *ngIf="!isfullscreen" mat-menu-item (click)="openfullscreen()">
      <mat-icon>fullscreen</mat-icon>
      Go Full Screen
    </button>
    <button *ngIf="isfullscreen" mat-menu-item (click)="closefullscreen()">
      <mat-icon>fullscreen_exit</mat-icon>
      Exit Full Screen
    </button>
    <button mat-menu-item>
      <mat-icon color="warn">logout</mat-icon>
      <button *ngIf="authorize.isLoggedIn" (click)="authorize.logout()" mat-button color="warn">Logout
      </button>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
